<mat-toolbar fxLayout="row" fxLayoutAlign="center center">
  <span fxFlex="3" fxFlex.lt-md="10">
    <button mat-icon-button (click)="openAboutDialog()">
      <mat-icon>help</mat-icon>
    </button>
  </span>
  <span fxFlex="3" fxFlex.lt-md="10"></span>
  <span fxFlex>ESPORTLE</span>
  <span fxFlex="3" fxFlex.lt-md="10">
    <button mat-icon-button (click)="openStatisticDialog()">
      <mat-icon>equalizer</mat-icon>
    </button>
  </span>
  <span fxFlex="3" fxFlex.lt-md="10">
    <a href="https://github.com/ElijahKSmith/esportle" target="_blank">
      <button mat-icon-button><mat-icon>code</mat-icon></button>
    </a>
  </span>
</mat-toolbar>
