<div
  class="dialog-title"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  mat-dialog-title
>
  <h1>About ESPORTLE</h1>
  <button mat-icon-button><mat-icon>close</mat-icon></button>
</div>
<div fxLayout="row" mat-dialog-content>
  <div fxFlex="100">
    ESPORTLE is a Wordle inspired daily word game. Each word is 4-6 letters long
    and is related to esports in some way (team, event, general game mechanic,
    etc.). Your goal is to find the hidden word in 6 or less tries, and with
    each try you will know whether each letter is not present in the word, is
    present but in a different place in the word, or is in the correct place.
    This is just a prototype that will be iterated on. The word list is
    currently very small and it is not currently mobile optimized. Please
    consider contributing to this project on GitHub, project link can be found
    by clicking the button on the top right of this page.
  </div>
</div>
