<div
  class="dialog-title"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  mat-dialog-title
>
  <h1>Statistics</h1>
  <button mat-icon-button><mat-icon>close</mat-icon></button>
</div>
<div fxLayout="column" mat-dialog-content>
  <div fxLayout="row" fxLayoutAlign="space-around">
    <div fxLayout="column" fxLayoutAlign="center">
      <div>0</div>
      <div>Played</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center">
      <div>0</div>
      <div>Win %</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center">
      <div>0</div>
      <div>Current Streak</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center">
      <div>0</div>
      <div>Max Streak</div>
    </div>
  </div>
  <div fxLayoutAlign="center">Guess Distribution</div>
</div>
