<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
  <div fxLayout="row" fxLayoutGap="5px">
    <app-key letter="Q" (onClick)="keyInput($event)"></app-key>
    <app-key letter="W" (onClick)="keyInput($event)"></app-key>
    <app-key letter="E" (onClick)="keyInput($event)"></app-key>
    <app-key letter="R" (onClick)="keyInput($event)"></app-key>
    <app-key letter="T" (onClick)="keyInput($event)"></app-key>
    <app-key letter="Y" (onClick)="keyInput($event)"></app-key>
    <app-key letter="U" (onClick)="keyInput($event)"></app-key>
    <app-key letter="I" (onClick)="keyInput($event)"></app-key>
    <app-key letter="O" (onClick)="keyInput($event)"></app-key>
    <app-key letter="P" (onClick)="keyInput($event)"></app-key>
  </div>
  <div fxLayout="row" fxLayoutGap="5px">
    <app-key letter="A" (onClick)="keyInput($event)"></app-key>
    <app-key letter="S" (onClick)="keyInput($event)"></app-key>
    <app-key letter="D" (onClick)="keyInput($event)"></app-key>
    <app-key letter="F" (onClick)="keyInput($event)"></app-key>
    <app-key letter="G" (onClick)="keyInput($event)"></app-key>
    <app-key letter="H" (onClick)="keyInput($event)"></app-key>
    <app-key letter="J" (onClick)="keyInput($event)"></app-key>
    <app-key letter="K" (onClick)="keyInput($event)"></app-key>
    <app-key letter="L" (onClick)="keyInput($event)"></app-key>
  </div>
  <div fxLayout="row" fxLayoutGap="5px">
    <app-key type="backspace" (onClick)="keyInput($event)"></app-key>
    <app-key letter="Z" (onClick)="keyInput($event)"></app-key>
    <app-key letter="X" (onClick)="keyInput($event)"></app-key>
    <app-key letter="C" (onClick)="keyInput($event)"></app-key>
    <app-key letter="V" (onClick)="keyInput($event)"></app-key>
    <app-key letter="B" (onClick)="keyInput($event)"></app-key>
    <app-key letter="N" (onClick)="keyInput($event)"></app-key>
    <app-key letter="M" (onClick)="keyInput($event)"></app-key>
    <app-key type="enter" (onClick)="keyInput($event)"></app-key>
  </div>
</div>
